#highlight {
    max-height: 150px;
}

div[class*="container"] {
    min-height: 150px;
}

div[class*="col"] {
    min-height: 150px;
}

body {
    background: linear-gradient(
    90deg,
    rgb(10, 209, 209) 70px,
    rgb(6, 222, 222) 150px
    );
}