.container {
    min-height: 400px;
}

.col {
    max-height: 200px;
}

body {
    background: linear-gradient(
    90deg,
    rgb(10, 209, 209) 70px,
    rgb(6, 222, 222) 150px
    );
}

#disp {
    max-height: 200px;
    min-height: 200px;
}